#wpadminbar
	&.mobile
		display: none !important 
.wrapper
	@media (max-width: $adapt) 
		padding-top: 48px
.adapt-header
	display: none
	@media (max-width: $adapt) 
		text-align: center 
		padding: 1em
		display: block
.fixed-adaptive-block
	display: none
	@media (max-width: $adapt) 
		display: block 
	position: fixed 
	background: #3B3B3B
	top: 0
	left: 0
	right: 0
	+after
	color: #FFF
	z-index: 108
	+box-shadow(0px 1px 10px 0px rgba(#000, .2))
	.left 
		float: left 
		padding-left: 1em
		padding-top: 14px
		.sandwich 
			display: inline-block
			vertical-align: middle
			// &.open 
				// .icons-sandwich
					// @extend .icons-sandwich-close
	.right 
		font-size: 0
		padding: .5rem
		padding-right: 1rem
		a 
			margin-right: 1rem
		.btn 
			border: 1px solid #FFF
			padding: .5em
			font-size: 14px
			font-weight: 500
.sandwich-menue
	position: fixed 
	overflow-y: scroll
	right: -108em
	top: 48px
	z-index: 103
	// max-width: 320px
	width: 100%
	background: #FFF
	+box-shadow(0px 1px 10px 0px rgba(#000, .2))
	display: none
	+single-transition(right, .333s)
	@media (max-width: $site-width) 
		display: block 
	&.open 
		right: 0
	
	+ullireset
	>ul 
		>li 
			display: block 
			a 
				+transition(0)
			&.has-children
				a
					+after
						position: absolute
						@extend .icons-sandwich-arrow-right
						right: 1em
						top: 1em					
			>a 
				display: block 
				padding: 1em
				color: $text
				position: relative

			>ul 
				display: none
				>li 
					>a 
						display: block
						font-size: 14px
						color: #303030
						padding: .5em
						padding-left: 2em
						background: #E6F5F5
					&:hover
						>a 
							background: tint(#E6F5F5, 85)
			&.active
				>a 
					background: #ED2F2F 
					color: #FFF 
					&:after
						@extend .icons-sandwich-arrow-down
						top: 1.5em
				>ul 
					display: block
			&:hover
				>a 
					background: tint(#ED2F2F, 85)
	.phone-block
		border-top: 1px solid #AEE6E6
		padding: 1em
		.phone 
			font-weight: 700
			font-size: 24px
			color: #000
			text-align: center
			margin-bottom: .5rem
			a 
				color: #000
		.button
			text-align: center 
			.btn 
				+dib 
				display: inline-block
				border-color: #D7292E
				color: rgba(#000, .5)
				padding-left: 1em
				padding-right: 1em
				font-size: 16px