



html, body {
	font-family: 'Ubuntu', sans-serif;
	// height: 100%;
	background: $main-bg;
	@include after;
	min-height: 100%;
}


body {
	font-weight: normal;
	font-style: normal;
	font-size: $site-font-size;
	line-height: $site-line-height;	
	color: $text;
	-webkit-text-size-adjust: 100%;	
}


.wrapper {
	left: 0;
	right: 0;
}

* {
	outline: none;
	box-sizing: border-box;
}

i {
	@extend .icons-sprite;
	display: inline-block;
	vertical-align: middle;
}

em {
	font-style: italic;
}

strong, b {
	font-weight: 800;
}

small {
	font-size: .777em;
}

span {
	vertical-align: middle;
}

a {
	color: $link;
	@include transition(.333s);
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	&:hover {
		color: shade($link, 34);
		text-decoration: none;
	}
	&.dashed {
		border-bottom: 1px dashed tint($link, 24);
		&:hover {
			border-bottom: 1px dashed rgba($link, .09);
		}
	}
}

p {
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
}

.wrapper {
	position: relative;
	@include before;
	@include after;
    // left: 0;
    // right: 0;
    // height: 100%;
}

section {	
	// @extend .container;
}

h1, h2, h3, h4, h5 {
	color: $title;
	line-height: 1em;
}

h1 {
/* 	font-size: 1.5em;
line-height: 1.5em;
font-weight: 600;
margin-bottom: .5em;
font-weight: 600; */
	// font-size: 40px;
}

h2 {
/* 	font-size: 1.333em;
line-height: 1.333em;
font-weight: 600;
margin-bottom: .5em;
font-weight: 600; */
}

h3 {
/* 	font-size: 1.211em;
line-height: 1.211em;
font-weight: 600;
margin-bottom: .5em;
font-weight: 600; */
}

h4 {
/* 	font-size: 1.111em;
line-height: 1.111em;
font-weight: 600;
margin-bottom: .5em;
font-weight: 600; */
}

ol {
	padding-left: 1.5em;
	li {
		list-style-type: decimal;
	}
}

label {
	display: block;
	margin-bottom: .5em;
	span {
		margin-left: .5em;
	}
}

input[type=text], input[type=number], input[type=password], select, textarea {
	width: 100%;
	font-size: 16px;
	color: $placeholder;
	padding-left: 1em;
	background: #FFF;
	height: 40px;
	padding-top: 2px;
	margin-bottom: .5em;
	border: 1px solid;
	border-radius: 4px;
	border-color: #C7CFD0;
	@include input-placeholder {
		color: $placeholder;
		font-weight: 500;
	}
	&.error {
		border: 1px solid $red;
		color: $red !important;
		background: tint($red, 77);
		@include input-placeholder {
			color: $red;
			text-align: left;
		}
	}
	&:hover, &:focus {
		background: #FFF;
	}
	&:hover {
		cursor: pointer;
	}
	&:focus {
		cursor: text;
	}	
}

select {
	color: $placeholder;
}
/* 
.input-place {
	position: relative;
	@include before;
	&:before {
		position: absolute;
		left: .6em;
		top: .6em;
	}
	@mixin pad {
		input {
			padding-left: 2em;		
		}		
	}
	&.input-name {
		@include pad;
		&:before {
			@extend .icons-input-name;
		}
	}
	&.input-email {
		@include pad;
		&:before {
			@extend .icons-input-mail;
		}
	}
	&.input-phone {
		@include pad;
		&:before {
			@extend .icons-input-phone;
		}
	}
	&.input-model {
		@include pad;
		&:before {
			@extend .icons-input-model;
		}
	}
	&.input-price {
		@include pad;
		&:before {
			@extend .icons-input-rub;
		}
	}
	&.input-date {
		@include pad;
		&:before {
			@extend .icons-input-date;
		}
	}
	&.input-city {
		@include pad;
		&:before {
			@extend .icons-input-balun;
		}
	}
} */

textarea {
	height: 10em;
	padding-top: .5em;
}

.clearfix {
	clear: both;
}

form {
	.error {
		color: $red;
		border: 1px solid;
		padding: 1em;
	}
	.server-request {
		border: 1px solid;
		padding: 1em;
	}
}

.space {
	width: 100%;
	margin-bottom: 1em;
}

ul {
	@include after;
	@include before;
	padding-left: 1.333em;
	li {
		padding-left: 0em;
		margin-bottom: .5em;
		position: relative;
		font-weight: 400;
		/* @include after;
		@include before; */
		list-style-type: disc;		
	}
}

.gray-place {
	background: tint($gray, 77);	
}

#fancybox-close, .fancybox {
	border-bottom: 0;
}

// костыль для wp
#wpadminbar .ab-top-secondary {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
}

label {
	cursor: pointer;
}

.dashed-link {
	border-bottom: dashed 1px $red;
	&:hover {
		border-bottom: dashed 1px rgba($red, .5);
	}
}

.clear {
	clear: left;
}

.owl-carousel {
	position: relative;
	// padding-bottom: 1em;
	.owl-controls {
		position: absolute;
		left: 0;
		bottom: 0em;
		width: 100%;
		// height: 100%;
		// display: block;

		.owl-pagination {
			text-align: center;
			position: absolute;
			bottom: 1em;
			left: 0;
			right: 0;
			margin: 0 auto;
			.owl-page {
				display: inline-block;
				margin-right: .5em;
				&:last-child {
					margin-right: 0;
				}
				span {
					@extend .icons-slider-dot-off;
					display: inline-block;
				}
				&.active {
					span {
						@extend .icons-slider-dot-on;
					}
				}
			}
		}
	}	
	.owl-buttons {
		position: absolute;
		// top: 12em;
		bottom: 0;
		width: 100%;
		left: 0;
		@include hoverOpacity(.6,.6s);
		.owl-prev {
			@extend .icons-slider-move-left;
			position: absolute;
			left: 0em;
			@media (max-width: $site-width) {
				left: 0em;
			}
		}
		.owl-next {
			@extend .icons-slider-move-right;
			position: absolute;
			right: 0em;
			@media (max-width: $site-width) {
				right: 0em;
			}
		}
	}
}