.footer
	.level-0
		background: #1D1D1F
		border-bottom: 2px solid #17171A
		padding: 1em 0
		.cell-3
			@media (max-width: $site-width) 
				width: 100%
				text-align: center
				margin-bottom: 1rem
		.cell-9
			padding-left: 3em
			@media (max-width: $site-width) 
				width: 100%
				padding-left: 0
			.row 
				float: left 
				&:nth-child(1) 
					width: 35%
					@media (max-width: 870px) 
						width: 100%
						display: block
						float: none
						max-width: 280px
						margin: 0 auto 
						margin-bottom: 2em
				&:nth-child(2) 
					width: 35%
					@media (max-width: 870px) 
						width: 100%
						display: block
						float: none
						max-width: 280px
						margin: 0 auto 
						margin-bottom: 2em
				&:nth-child(3) 
					width: 30%
					@media (max-width: 870px) 
						width: 100%
						display: block
						float: none
						max-width: 280px
						margin: 0 auto 
						padding-right: 1em
				&.phone, &.address
					position: relative
					padding-left: 4em
					div 
						line-height: 1em
						&:nth-child(1) 
							font-size: 25px
							font-weight: 500
							color: #FFF 
						&:nth-child(2), &:nth-child(3) 
							font-size: 16px
							color: #8A8A8A
				&.phone 
					+before 
						position: absolute
						left: 0
						top: 0
						@extend .icons-header-phone
				&.address
					+before 
						position: absolute
						left: 0
						top: 0
						@extend .icons-header-point
				.btn 
					border: 2px solid #FFF 
					border-radius: 4px
	.level-1
		background: #1D1D1F
		padding: 1em 0	
		+ullireset
		.row 
			float: left 
			+after
			ul 
				li 
					display: block
					padding-right: 1em
					a 
						color: #C1C1C1
						margin-bottom: 1rem 
						font-size: 18px
			.title 
				color: #FFF 
				text-transform: uppercase
				font-size: 22px
				border-bottom: 2px solid #17171A 
				margin-bottom: 1rem
				line-height: 2em
				a 
					color: #FFF
			&:nth-child(1) 
				+grid(3)
				padding-right: 1em
				@media (max-width: $site-width) 
					+grid(6)
				@media (max-width: 1000px) 
					+grid(12)
					padding-right: 0
				ul 
					width: $h / 2
					float: left 
					@media (max-width: 440px) 
						width: 100%
			&:nth-child(2) 
				+grid(6)
				padding-right: 1em
				@media (max-width: $site-width) 
					+grid(6)
				@media (max-width: 1000px) 
					+grid(12)
					padding-right: 0
				ul 
					width: $h / 3
					float: left 
					@media (max-width: 600px) 
						width: 100%
			&:nth-child(3) 
				+grid(3)
				@media (max-width: $site-width) 
					+grid(12)
			.form
				input 
					background: #1D1D1F
					color: #C1C1C1
					border: 1px solid #C1C1C1
					margin-bottom: 1rem
					+input-placeholder
						color: #C1C1C1
					&.error 
						background: rgba(red, .333) !important
						+input-placeholder
							color: #FFF 
				h4 
					color: #FFF
				.btn 
					color: #C1C1C1
					font-weight: 700
					font-size: 18px
					border: 1px solid #C1C1C1
	.level-2 
		background: #171719
		.container
			color: #323137
			font-size: 18px
			padding: 1em