.opened {
	.jq-selectbox__select {
		background: #FFF;
		border-color: $blue;
		color: #303030;
		@include box-shadow(0 1px 12px 0 rgba(#00959B, .65));	
	}
}
.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
	width: 100%;	
}
.jq-selectbox__select {
	@extend select;
	border: $border 1px solid;
	background: rgba(#FFF, 0);
	width: 100%;
	margin-bottom: 0;
	padding-top: 4px;
	color: $text;
}
.jq-selectbox__select:hover {
	background: #FFF;	
}
.jq-selectbox__select:active {
	background: #FFF;
	border-color: $blue;
	color: #303030;
	@include box-shadow(0 1px 12px 0 rgba(#00959B, .65));
}
.jq-selectbox.focused .jq-selectbox__select {
	
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: $text;
}
.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jq-selectbox .placeholder {
	color: $text;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	@extend .icons-select;
	position: absolute;
	top: 14px;
	right: 12px;
	
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	border-top-color: #000;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	border-top-color: #AAA;
}
.jq-selectbox__dropdown {
	width: 100%;
	margin: 0px 0 0;
	padding: 0;
	border: 1px solid $border;
	background: #FFF;
	z-index: 108;
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	@extend select;
	margin-bottom: 0;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 16px;
	padding: .5em !important;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	white-space: nowrap;
	color: $text;
	display: block;
	margin: 0;
}
.jq-selectbox li.selected {
	background-color:  $blue;
	color: #FFF;
}
.jq-selectbox li.sel {
	background-color:  $blue;
	color: #FFF;
}
.jq-selectbox li:hover {
	background-color: shade(#FFF, 6);
}
.jq-selectbox li.sel:hover {
	background-color:  $blue;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}


// чекбоксы и радио

/* .jq-checkbox {	
	cursor: pointer;
	@extend .icons-checkbox;
	width: 23px;
	vertical-align: middle;
	&.checked {
		@extend .icons-checkbox-ac;
	}
	&.disabled {
		opacity: .555;
	}
}
 */

 

/* .jq-radio {
	top: -1px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin: 0 4px 0 0;
	border: 1px solid #C3C3C3;
	border-radius: 50%;
	background: #F5F5F5;
	background: -webkit-linear-gradient(#FFF, #E6E6E6);
	background:         linear-gradient(#FFF, #E6E6E6);
	box-shadow: 0 1px 1px rgba(0,0,0,.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
	cursor: pointer;
}
.jq-radio.checked .jq-radio__div {
	width: 10px;
	height: 10px;
	margin: 3px 0 0 3px;
	border-radius: 50%;
	background: #777;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.7);
}
.jq-radio.focused {
	border: 1px solid #08C;
}
.jq-radio.disabled {
	opacity: .55;
}
 */