.header
	background: #FFF
	@media (max-width: 1000px) 
		display: none
	.part-0
		padding: 1em 0
		.cell-3
			line-height: 90px
			@media (max-width: 1224px) 
				width: 296px
			@media (max-width: 1097px) 
				width: calc(100% - 769px)
			img 
				max-width: 100%
				display: inline-block
				vertical-align: middle
		.cell-9
			padding-left: 3em
			@media (max-width: 1224px) 
				width: calc(100% - 296px)
				padding-left: 1em
			@media (max-width: 1097px) 
				width: 769px
			.level-0
				background: #F9F9F9
				margin-bottom: .5rem
				+after
				.row 
					float: left 
					&:nth-child(1) 
						width: 70%
						p 
							font-size: 20px
							font-weight: 500
							padding: .5em
							@media (max-width: 1157px) 
								font-size: 18px
					&:nth-child(2) 
						width: 30%
						text-align: right
						font-size: 0
						.btn 
							display: inline-block
							vertical-align: middle
							border: 1px solid #F1F1F1 
							color: #929292
							font-weight: 500
							font-size: 18px
							width: 100%
							+dib 
							background: #FFF
							padding: 0 1em
							@media (max-width: 1157px) 
								font-size: 16px
			.level-1 
				.row 
					float: left 
					$s: 70%
					&:nth-child(1) 
						width: $s / 2
					&:nth-child(2) 
						width: $s / 2
					&:nth-child(3) 
						width: 30%
						.btn 
							width: 100%
							@media (max-width: 1190px) 
								font-size: 16px
					&.phone, &.address
						position: relative
						padding-left: 4em
						div 
							line-height: 1em
							&:nth-child(1) 
								font-size: 25px
								font-weight: 500
								@media (max-width: 1139px) 
									font-size: 20px
							&:nth-child(2), &:nth-child(3) 
								font-size: 16px
								color: #929292
								@media (max-width: 1139px) 
									font-size: 14px
					&.phone 
						+before 
							position: absolute
							left: 0
							top: 0
							@extend .icons-header-phone
					&.address
						+before 
							position: absolute
							left: 0
							top: 0
							@extend .icons-header-point
					.btn 
						color: $red
						display: inline-block
						vertical-align: middle
						border: 1px solid #F1F1F1 
						font-weight: 500
						font-size: 18px
						width: 100%
						+dib 
						background: #FFF
						padding: 0 .5em
						@media (max-width: 1190px) 
							font-size: 16px
	.part-1
		background: #3B3B3B
		position: relative
		+after
			background: #313131
			height: 3px
			position: absolute
			bottom: 0
			left: 0
			width: 100%
		.container
			padding: 0 
			padding-right: 1em
			+ullireset
			.menu
				+grid(9)
				float: left
				// position: relative
				@media (max-width: $site-width) 
					+grid(12)
				>ul 
					>li 
						float: left
						display: block
						position: relative
						&.production 
							position: inherit
						>a 
							color: #FFF 
							font-size: 18px
							padding: 1rem
							display: block
							position: relative
							+before
								position: absolute
								right: 0
								top: 1.4em
								@extend .icons-menu-dot
						&.active, &:hover
							>a 
								+after
									position: absolute
									left: 0 
									bottom: 0
									right: 0
									margin: 0 auto
									background: $yellow 
									height: 3px
									width: calc(100% - 2rem)
									z-index: 1	
									+transition(.6s)							
						&:hover 
							>a 
								&:after
									background: rgba($yellow, .5)
						&:last-child 
							a 
								&:before 
									display: none
						.dropdown
							position: absolute
							left: 0
							right: 0
							width: calc(100% - 2em)
							// top: 0
							background: #FFF 
							padding: 1em
							padding-bottom: 0
							z-index: 60
							margin: 0 auto 
							display: none
							+box-shadow(0 0 12px 0 rgba(#000, .3))
							.group 
								.cell 
									width: $h / 5 - 1
									margin-right: 1.25%
									margin-bottom: 1em
									height: 130px
									border-radius: 6px
									position: relative
									overflow: hidden
									&:nth-child(5n) 
										margin-right: 0
									a 
										display: block 
										height: 100%
									div 
										position: absolute
										bottom: 0
										left: 0 
										right: 0
										background: rgba(#000, .75)
										color: #FFF 
										font-size: 14px
										padding: .5em
										height: 3.5em			
										text-align: center	
										line-height: 2em
										+transition(.6s)
										span 
											line-height: 1em
											display: inline-block
											vertical-align: middle
									&:hover 
										div 
											background: #000
						&:hover
							.dropdown
								display: block
			.search
				+grid(3)
				float: left
				background: #313131
				position: relative
				padding-left: 1.75em
				padding-top: .5em
				height: 52px
				overflow: hidden
				+after
					@extend .icons-search
					position: absolute
					left: 1em
					top: 1em
				+before
					position: absolute
					right: 1em
					top: 1.25em
					@extend .icons-search-arrow
				input 
					background: #313131
					color: #A3A3A3
					border: 0
					margin-bottom: 0
					+input-placeholder
						color: #A3A3A3
				@media (max-width: $site-width) 
					display: none