.ui-slider
	margin-top: 5px
	background: #F4F8F9
	border-radius: 4px
	width: 100%
	height: 10px
	position: relative	

	.ui-slider-range-min
		height: 4px
		background: url($dir + 'bg/ui-bg-active.png') bottom repeat-x
		position: absolute
		left: 0
		top: 0px
		// +transition(.333s)
	.ui-slider-handle
		@extend .icons-ui-point
		display: block
		position: absolute
		top: -11px
		cursor: pointer
		margin-left: -17px
		z-index: 1
		// +transition(.333s)
	.ui-slider-range
		height: 10px
		background: $yellow
		border-radius: 4px 0 0 4px
		top: -0px
		position: absolute
	.min
		position: absolute
		left: 0em
		bottom: 0em
		color: #000
		font-size: 12px
	.max 
		position: absolute
		right: 0em
		bottom: 0em
		color: #000
		font-size: 12px