.two-columns
	.cell-3
		padding-right: 1rem
		@media (max-width: $adapt) 
			padding-right: 0
			width: 100%
	.cell-9
		@media (max-width: $adapt) 
			width: 100%
	.catalog
		+ullireset
		margin-bottom: 1rem
		.head
			background: #E01F26
			border-radius: 6px 6px 0 0
			padding: 1em
			overflow: hidden
			position: relative
			@media (max-width: $site-width) 
				text-align: center
			+after
				position: absolute
				left: 0
				bottom: 0
				background: url($dir + "bg/cat-head-bg.png")
				width: 213px
				max-height: 95px
				height: 100%
				z-index: 0
			div 
				position: relative
				z-index: 1
				&:nth-child(1) 
					color: #FFF
					font-size: 22px
					text-transform: uppercase
					line-height: 1em
					@media (max-width: $site-width) 
						margin-bottom: 0
						display: inline 
						border-bottom: 1px dotted
				&:nth-child(2) 
					@media (max-width: $site-width) 
						display: none
				a 
					color: #FDE602
					font-size: 16px
					+after
						@extend .icons-head-cat-arrow
						display: inline-block
						vertical-align: middle
						margin-left: .5rem
		.menu-left-menu-container
			>ul 
				border: 1px solid #E0E0E0
				border-top: 0
				border-radius: 0 0 6px 6px
				@media (max-width: $adapt) 
					display: none
				>li 
					display: block 
					>a 
						display: block 
						+before
					>ul 
						display: none
						>li 
							display: block
							>a 
								padding: .5rem 1rem 
								font-size: 14px
								display: block 
								color: #3B3B3B
								&:hover 
									text-decoration: underline
							&:last-child
								>a 
									padding-bottom: .5rem
					&.current-menu-item
						>ul 
							display: block 
					&:nth-child(1) 
						a 
							&:before 
								@extend .icons-cat-1
						&:hover
							a 
								&:before 
									@extend .icons-cat-1-a
					&:nth-child(2) 
						a 
							&:before 
								@extend .icons-cat-2
						&:hover
							a 
								&:before 
									@extend .icons-cat-2-a
					&:nth-child(3) 
						a 
							&:before 
								@extend .icons-cat-3
						&:hover
							a 
								&:before 
									@extend .icons-cat-3-a
					&:nth-child(4) 
						a 
							&:before 
								@extend .icons-cat-4
						&:hover
							a 
								&:before 
									@extend .icons-cat-4-a
					&:nth-child(5) 
						a 
							&:before 
								@extend .icons-cat-5
						&:hover
							a 
								&:before 
									@extend .icons-cat-5-a
					&:nth-child(6) 
						a 
							&:before 
								@extend .icons-cat-6
						&:hover
							a 
								&:before 
									@extend .icons-cat-6-a
					&:nth-child(7) 
						a 
							&:before 
								@extend .icons-cat-7
						&:hover
							a 
								&:before 
									@extend .icons-cat-7-a
					&:nth-child(8) 
						a 
							&:before 
								@extend .icons-cat-8
						&:hover
							a 
								&:before 
									@extend .icons-cat-8-a
					&:nth-child(9) 
						a 
							&:before 
								@extend .icons-cat-9
						&:hover
							a 
								&:before 
									@extend .icons-cat-9-a
					&:nth-child(10) 
						a 
							&:before 
								@extend .icons-cat-10
						&:hover
							a 
								&:before 
									@extend .icons-cat-10-a
					&:nth-child(11) 
						a 
							&:before 
								@extend .icons-cat-11
						&:hover
							a 
								&:before 
									@extend .icons-cat-11-a
					&:nth-child(12) 
						a 
							&:before 
								@extend .icons-cat-12
						&:hover
							a 
								&:before 
									@extend .icons-cat-12-a
					&:nth-child(13) 
						a 
							&:before 
								@extend .icons-cat-13
						&:hover
							a 
								&:before 
									@extend .icons-cat-13-a
					&:nth-child(14) 
						a 
							&:before 
								@extend .icons-cat-14
						&:hover
							a 
								&:before 
									@extend .icons-cat-14-a
					&:nth-child(15) 
						a 
							&:before 
								@extend .icons-cat-15
						&:hover
							a 
								&:before 
									@extend .icons-cat-15-a
					&:nth-child(16) 
						a 
							&:before 
								@extend .icons-cat-16-a
						&:hover
							a 
								&:before 
									@extend .icons-cat-16-a
					>a 
						position: relative
						padding: 1em
						color: #3B3B3B
						background: #F9F9F9
						border-bottom: 1px dashed #E0E0E0
						padding-left: 3.5em
						padding-right: 2em
						&:before 
							position: absolute
							left: 1em
							top: .65em
						+after
							position: absolute
							top: 1.333em
							right: 1em
							@extend .icons-cat-arrow
						&:hover
							color: $red 
							background: #FFF
							&:after
								@extend .icons-cat-arrow-a
					&:last-child 
						>a 
							color: $red
							border-bottom: 0
.form-call
	background: url($dir + "bg/bg-form.png") no-repeat
	height: 125px
	background-size: cover
	position: relative
	padding: 1em
	padding-left: 200px
	margin-bottom: 1rem
	@media (max-width: 955px) 
		padding-left: 1em
		height: auto
		border-radius: 4px
	+before
		position: absolute
		background: url($dir + "other/form-man.png") no-repeat
		height: 119px
		width: 165px
		left: 1em
		bottom: 0
		@media (max-width: 955px) 
			display: none
	h3 
		color: #FFF
		text-transform: uppercase
		text-align: center
		font-weight: 700
		font-size: 22px
		line-height: 1em
	h4 
		color: #FFF 
		padding: 1em
	p 
		color: #FC8602
		text-align: center
		font-size: 18px
		font-weight: 600
		margin-bottom: .5em
	input 
		background: transparent !important
		border: 1px solid #FFF 
		color: #FFF 
		+input-placeholder
			color: #FFF 
	.btn 
		border: 1px solid #FFF 
		color: #FFF 
		font-weight: 700
	.group 
		.cell 
			@media (max-width: 654px) 
				width: 100%
.full-cycle
	background: #F9F9F9
	padding: 1em
	position: relative
	margin-bottom: 1rem
	+after
	img 
		float: right 
		margin-left: 3em
		@media (max-width: 685px) 
			display: none
	h3 
		color: $red 
		font-size: 36px
		font-weight: 700
		line-height: 1em
		text-transform: uppercase
		margin-bottom: 1rem
		margin-top: 2em
		@media (max-width: $site-width) 
			margin-top: 0
	p 
		color: #3B3B3B
		font-size: 24px
		font-weight: 600
	.button
		.btn 
			border: 1px solid $red 
			color: $red
			padding-left: 1em
			padding-right: 1em
			+after
				@extend .icons-cat-arrow-a
				margin-left: .5rem
				display: inline-block
				vertical-align: middle
.now-work
	margin-bottom: 1rem
	h3 
		font-size: 24px
		font-weight: 700
		text-align: center
		margin-bottom: 1rem
	p 
		line-height: 1.333em 
		color: #929292
		text-align: center
		margin-bottom: 1em
	.group 
		.cell 
			text-align: center 
			width: $h / 3
			position: relative
			margin-bottom: 1rem
			@media (max-width: 776px) 
				width: 100%
			&:nth-child(2) 
				+before
					position: absolute
					@extend .icons-work-arrow
					top: .5em
					left: -110px
					@media (max-width: 964px) 
						display: none
				+after
					position: absolute
					@extend .icons-work-arrow
					top: .5em
					right: -110px
					@media (max-width: 964px) 
						display: none
			div 
				&:nth-child(1) 
					height: 90px
				&:nth-child(2) 
					font-weight: 600
					font-size: 18px
					line-height: 1em
					padding: 0 1em
					span 
						margin-bottom: .5rem
						display: inline-block
						vertical-align: top
						&.phone 
							color: $red 
							font-size: 25px
							font-weight: 600
							line-height: 1em
	.button
		text-align: center 
		.btn 
			background: #E01F26
			color: #FFF200
			padding-right: 1em
			padding-left: 1em
			+after
				@extend .icons-yellow-arrow
				display: inline-block
				vertical-align: middle
				margin-left: .5rem
.breadcrumbs
	+ullireset
	background: #F8F8F8
	+dib 
	padding: 1em 0
	span 
		display: inline-block
		vertical-align: middle
		color: $red 
		a 
			color: #3B3B3B
			span 
				color: #3B3B3B
				text-decoration: underline 
			&:hover 
				span 
					text-decoration: none
			+after
				@extend .icons-breadcrumbs-arrow
				display: inline-block
				vertical-align: middle
				margin-right: .5em
				margin-left: .5em
.index-slider
	@media (max-width: $site-width) 
		display: none !important
	.item 
		height: 450px
		position: relative
		+absoluteLink
		.container
			padding: 10em 6em
			@media (max-width: $site-width) 
				padding: 3em 1em 
		h2 
			font-size: 44px
			font-weight: 700
			line-height: 1em
			margin-bottom: 1rem
			@media (max-width: 600px) 
				font-size: 24px
		p 
			color: $red
			font-size: 24px
			line-height: 1em
			@media (max-width: 600px) 
				font-size: 16px
		.group
			max-width: 530px
			margin-bottom: 1rem
			.cell 
				color: $red 
				font-weight: 700
				font-size: 25px
				text-align: center
				line-height: 1em
				position: relative 
				border-right: 1px solid $red 
				&:last-child
					border-right: 0
				@media (max-width: 600px) 
					width: 100%
					border-right: 0
		.button
			.btn 
				color: $red 
				border: 1px solid $red 
				font-size: 16px
				line-height: 1em
				padding: .5rem 1em .75rem
				+dib
				height: auto 
				i 
					margin-top: 4px
					margin-left: .5rem
	.owl-buttons
		width: 1280px - 32px
		margin: 0 auto
		bottom: 270px
		right: 0
		+after
		@media (max-width: $site-width) 
			display: none
.product-list
	font-size: 0
	.item
		font-size: 1rem
		width: 32%
		margin-right: 2%
		display: inline-block
		vertical-align: top 
		border-radius: 6px
		overflow: hidden
		margin-bottom: 1rem
		border-bottom: 1px solid #E0E0E0
		position: relative
		&:nth-child(3n) 
			margin-right: 0
		@media (max-width: $site-width) 
			width: 49%
			margin-right: 2%
			&:nth-child(2n) 
				margin-right: 0
			&:nth-child(3n) 
				margin-right: 2%
		@media (max-width: 627px) 
			width: 100%
			margin-right: 0
		.level-0
			height: 170px
			.img 
				background-size: cover
				height: 170px
				background-repeat: no-repeat
				background-position: center
		.level-1, .level-2, .level-3, .level-4
			border-left: 1px solid #E0E0E0
			border-right: 1px solid #E0E0E0
		.level-1
			text-align: center 
			padding: .5rem
			padding-bottom: 0
			a 
				color: $red 
				text-decoration: underline 
				font-size: 18px
				font-weight: 700
		.level-2
			padding: .5rem
			text-align: justify 
			color: #797979
			border-bottom: 1px dashed #E0E0E0
		.level-3
			padding: 1em .5rem
			.group
				.cell 
					color: #3B3B3B
					&:nth-child(1) 
						width: calc(100% - 200px)
						font-size: 18px
						font-weight: 600
					&:nth-child(2) 
						font-weight: 500
						width: 200px
						font-size: 24px
						text-align: right 
						span 
							font-size: 18px
							display: inline-block
							&.p 
								font-size: 30px
								margin-left: 6px
								margin-right: 6px
		.level-4		
			padding: 1em .5rem
			.group
				.cell 
					&:nth-child(1) 
						width: 60%
						padding-right: .5em
					&:nth-child(2) 
						width: 40%
						padding-left: .5em
					@media (max-width: 360px) 
						width: 100% !important
						padding-right: 0 !important
						padding-left: 0 !important
					.btn 
						border: 2px solid #E0E0E0
						color: $red 
						border-radius: 4px
					&.more
						padding-top: .55em
						a 
							color: #3B3B3B
							font-weight: 700
							+after 
								@extend .icons-product-arrow
								display: inline-block
								vertical-align: middle
								margin-left: 6px
.pagination
	+ullireset
	ul 
		text-align: center 
		font-size: 0
		li 
			display: inline-block
			vertical-align: top
			font-size: 24px 
			font-weight: 700
			color: #A0A0A0
			border: 2px solid #E0E0E0
			border-radius: 6px
			padding: .5em .9em 
			text-align: center 
			margin-right: 6px
			margin-bottom: 1rem
			cursor: pointer
			&:last-child
				margin-right: 0
			span, a 
				display: block 
.big-red-form
	background: url($dir + 'bg/index-4.jpg') no-repeat center
	@media (max-width: $site-width) 
		background-size: cover
	.container
		position: relative
		height: 371px
		@media (max-width: $site-width) 
			height: auto 
		+after
			position: absolute
			right: 0
			bottom: 0
			background: url($dir + 'other/index-4-man.png') no-repeat center
			width: 346px
			height: 469px
			@media (max-width: $site-width) 
				display: none
		.form
			padding-right: 400px
			padding-top: 6em
			@media (max-width: $site-width) 
				padding: 1em
			h3 
				color: #FFF
				font-weight: 700
				font-size: 42px
				line-height: 1em
				margin-bottom: 1rem
				text-transform: uppercase
				@media (max-width: $site-width) 
					font-size: 30px
					text-align: center
			p 
				font-size: 30px
				font-weight: 500
				line-height: 1em
				@media (max-width: $site-width) 
					font-size: 24px
					text-align: center
				&.white 
					color: #FFF
				&.yellow
					color: #FFF200
			.group 
				margin-bottom: 1rem
				.cell 
					&:nth-child(1) 
						width: 40%
						padding-right: 1em
						@media (max-width: $site-width) 
							width: 35%								
					&:nth-child(2) 
						width: 40%
						padding-right: 1em
						@media (max-width: $site-width) 
							width: 35%
					&:nth-child(3) 
						width: 20%
						@media (max-width: $site-width) 
							width: 30%
					@media (max-width: 635px) 
						width: 100% !important
						padding-right: 0 !important
					.btn
						border: 2px solid #FFF							
					input 
						background: transparent !important
						color: #FFF 
						border: 1px solid #FFF
						+input-placeholder
							color: #FFF 
						&.error 
							background: rgba(red, .666) !important
							+input-placeholder
.subtitle 
	text-align: center
	color: #929292
	margin-bottom: 1em
.cat-slider
	border-bottom: 3px solid #F1F1F1
	margin-bottom: 1em
	.big-img 
		height: 350px
		background-size: contain
		background-repeat: no-repeat
		border-radius: 6px
		position: relative
		margin-bottom: 1rem
		overflow: hidden
		background-position: center
		div 
			position: absolute
			bottom: 0
			left: 0
			right: 0
			width: 100%
			padding: 1em
			color: #FFF
			background: rgba(#000, .75)
	.slider 
		padding-left: 2em
		padding-right: 2em
		margin-bottom: 2rem
		.item 
			height: 114px
			background-size: cover
			background-repeat: no-repeat
			border-radius: 6px
			position: relative
			background-position: center middle
			overflow: hidden
			margin: 0 .5em
			cursor: pointer
			+hoverOpacity(.82,.6s)
		.owl-controls 
			bottom: 70px
			.owl-buttons
				.owl-prev
					@extend .icons-cat-slider-move-left
				.owl-next
					@extend .icons-cat-slider-move-right