.darkness {
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(#000, .333);
	width: 100%;
	height: 100%;
	z-index: 108 * 108 * 108;
	display: none;
}

.modal-window {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 108 * 108 * 108 * 108;
	display: none;
	// border: 1px solid #E6E6E6;
	border-radius: 6px;
	background: #FFF;
	margin: 10em auto 0;
	width: $site-width / 3.5;
	position: relative;
	@media (max-width: $site-width / 3) {
		width: 100%;
		margin-top: 4em;
	}
	>p {
		text-align: center;
		color: #959595;
		margin-bottom: 0;
	}
	.form-place {
		padding: 2em;

	}
	.submit {
		text-align: center;
		.btn {
			display: block;
			// border: 1px solid $blue;
			// color: #303030;
			padding-left: 2em;
			padding-right: 2em;

		}
	}
	input, textarea, select {
		border: 2px solid #C3C3C3;
		font-size: 14px;
	}
	input {
		margin-bottom: 1em;
		@include input-placeholder {
			color: #CCC;
		}
	}
	textarea {
		margin-bottom: 2em;
	}
	.title-form {
		color: $red;
		font-size: 22px;
		font-weight: 700;
		background: #FFF;
		text-align: center;
		padding: 2rem 2rem 1rem;
		text-transform: uppercase;
		div {
			text-align: center;
			&:nth-child(1) {
				font-size: 24px;
				line-height: 26px;
			}
			&:nth-child(1) {
				font-size: 20px;
				line-height: 24px;
			}
		} 
	}

	.icons-close {
		position: absolute;
		top: 1.25rem;
		right: 1rem;
		cursor: pointer;
		@include transition(.666s);
		&:hover {
			@include rotate(360deg);
		}
		@media (max-width: $site-width / 3) {
			// top: -2.5em;
			// right: 1.5em;
		}
	}
}