.page-index
	.part-1
		padding: 1em 0
		.place 
			h1, h2
				font-size: 24px
				font-weight: 700
				line-height: 1em
				margin-bottom: 1rem
				color: $title
				text-align: center
			h2 
				font-size: 20px
			.subtitle
				color: #929292
				line-height: 1.333em
				text-align: center
				margin-bottom: 1rem
			.types
				+after
				.item 
					float: left 
					width: 47%
					margin-right: 6%
					position: relative
					border: 3px solid #ECECEC
					border-radius: 4px 
					padding: .5rem
					margin-bottom: 1rem
					@media (max-width: 928px) 
						width: 100%
						margin-right: 0
					@media (max-width: 464px) 
						text-align: center
					&:nth-child(2n) 
						margin-right: 0
					img 
						float: right 
						margin-left: .5rem
						@media (max-width: 464px) 
							float: none
							margin: 0 auto 1em 
							display: block
					p 
						font-size: 20px
						font-weight: 700
						padding-top: 2em
						padding-right: 1em
						@media (max-width: 464px) 
							padding-top: 0
					a 
						color: $red 
						font-size: 16px
						font-weight: 700
						+after
							@extend .icons-arrow-red
							margin-left: .5rem
							display: inline-block
							vertical-align: middle
	.part-2 
		background: url($dir + 'bg/index-2.jpg') no-repeat center top 
		@media (max-width: $site-width) 
			background: none
		.container
			.grid 
				.cell-6
					padding-top: 3em
					&:nth-child(1) 
						padding-right: .5em
					&:nth-child(2) 
						padding-left: .5em
					@media (max-width: $site-width) 
						width: 100%
						padding-left: 0
						padding-right: 0
						padding-top: 0
					h3 
						color: #FFF 
						font-weight: 700
						font-size: 30px
						margin-bottom: 1em
						line-height: 1em
						@media (max-width: $site-width) 
							background: url($dir + 'bg/index-2.jpg') no-repeat
							background-size: cover
							padding: 1em
						@media (max-width: 600px) 
							font-size: 24px
					.place 
						padding: 1em
						background: #FFF
						border-radius: 4px
						margin-bottom: 1rem
						+box-shadow(0 0 12px 0 rgba(#000, .333))
						+ullireset
						height: 370px
						@media (max-width: $site-width) 
							height: auto 
							+box-shadow(none)
							padding: 0
						ul 
							li 
								font-size: 18px
								font-weight: 400
								color: #3B3B3B
								margin-bottom: 1em
								line-height: 1.333em
								text-align: justify
								position: relative
								padding-left: 3em
								+before
									position: absolute
									left: 0
									top: 0
									@extend .icons-daw
						p 
							text-align: justify 
							font-size: 18px
							line-height: 1.333em
	.part-3
		padding: 1em 0
		h2 
			text-align: center
			font-size: 24px
			font-weight: 700
			margin-bottom: 1rem
		p 
			text-align: center 
			color: #929292
			line-height: 1.333em
		.gallery-slider
			padding-left: 4em
			padding-right: 4em
			.item 
				background-size: cover
				background-repeat: no-repeat
				height: 340px
				border-radius: 4px
				margin: 0 1em
				position: relative
				div 
					position: absolute
					bottom: 0
					padding: 1em
					left: 0
					width: 100%
					color: #FFF 
					font-weight: 600 
					font-size: 18px
					text-align: center
			.owl-buttons
				bottom: 210px
		.button
			text-align: center 
			padding: 2em 0 1em
			.btn 
				border: 2px solid $red 
				color: $red
				padding-left: 1em
				padding-right: 1em
	.part-5 
		padding: 2em 0
		h1, h2, h3, h4 
			font-size: 24px
			font-weight: 700
			line-height: 1em
			margin-bottom: 1rem
		h2 
			font-size: 20px
		h3 
			font-size: 18px
		h4
			font-size: 16px
		p 
			text-align: justify 
			line-height: 1.333em
		.button 
			margin-bottom: 1em
			.btn 
				padding: .5em 1em
		.cut 
			display: none