.page-default
	padding: 2em 0
	h1
		font-size: 40px
	h2 
		font-size: 30px
	h3 
		font-size: 24px
	h4 
		font-size: 18px
	h1, h2, h3, h4 
		margin-bottom: 1rem
	a 
		display: inline 
		vertical-align: top
	&.page-article
		h1 
			text-align: center
		h1
			font-size: 28px
			font-weight: 700
		h2 
			font-size: 20px
			font-weight: 700
		h3 
			font-size: 18px
			font-weight: 700
		h4 
			font-size: 16px
			font-weight: 700
		h1, h2, h3, h4 
			line-height: 1.2em
			margin-bottom: 1em
.page-search
	.loop
		.item 
			margin-bottom: 1rem
			border-bottom: 1px dashed #d3d1d1
			padding-bottom: 1rem
.page-category
	.post-list
		+after
		padding-bottom: 1em
		.item 
			float: left 
			width: 32%
			margin-right: 2%
			margin-bottom: 1em
			height: 170px
			border-radius: 6px
			position: relative
			overflow: hidden
			background-position: center !important
			a 
				display: block 
				width: 100%
				height: 100%
				div 
					position: absolute
					bottom: 0
					left: 0
					right: 0
					width: 100%
					padding: 1em
					color: #FFF
					background: rgba(#000, .75)
					text-align: center
					+transition(.6s)
				&:hover
					div 
						background: #000
			&:nth-child(3n) 
				margin-right: 0
.seo-text
	p 
		text-align: justify 
		line-height: 1.5em
.product-page
	.place 
		padding-bottom: 1em
		.product
			border-bottom: 3px solid #F1F1F1
			padding-bottom: 1em
			margin-bottom: 1em
			+after
			.gallery
				float: left 
				width: 505px
				@media (max-width: $site-width) 
					width: 100%
				.product-slider
					.big-img 
						height: 350px
						background-size: cover
						background-repeat: no-repeat
						border-radius: 6px
						position: relative
						margin-bottom: 1rem
						overflow: hidden
						background-position: center middle
						div 
							position: absolute
							bottom: 0
							left: 0
							right: 0
							width: 100%
							padding: 1em
							color: #FFF
							background: rgba(#000, .75)
					.slider 
						padding-left: 2em
						padding-right: 2em
						margin-bottom: 2rem
						.item 
							height: 114px
							background-size: cover
							background-repeat: no-repeat
							border-radius: 6px
							position: relative
							background-position: center middle
							overflow: hidden
							margin: 0 .5em
							cursor: pointer
						.owl-controls 
							bottom: 70px
							.owl-buttons
								.owl-prev
									@extend .icons-cat-slider-move-left
								.owl-next
									@extend .icons-cat-slider-move-right
			.info 
				float: left 
				width: calc(100% - 505px)
				padding-left: 1em
				@media (max-width: $site-width) 
					width: 100%
				.price-order
					border-top: 1px dashed #E7E7E7
					border-bottom: 1px dashed #E7E7E7
					padding-top: .5em
					padding-bottom: .5em
					+after
					.price 
						width: 50%
						float: left
						padding-top: .5em
						span 
							font-size: 18px
							display: inline-block
							font-weight: 700
							vertical-align: middle
							&.p 
								font-size: 30px
					.order 
						width: 50%
						float: left 
						.btn 
							border: 2px solid $red 
							color: $red 	
							font-size: 18px
							font-weight: 700
							padding-bottom: 1.1em
							height: 45px
							padding-right: .5em
							padding-left: .5em
							span 
								border-bottom: 1px dotted
								display: inline-block
								line-height: 18px
				.description
					text-align: justify 
					line-height: 1.5em
					margin-top: 1em
		.characteristics
			margin-bottom: 1em
		.form-call
			h3 
				margin-bottom: 0
.page-article
	p 
		line-height: 1.5em
		text-align: justify
	img 
		max-width: 100%
	&.page-peregorodki-2
		padding-bottom: 6em
	.group 
		margin-bottom: 1rem
		.size-50 
			@media (max-width: $site-width) 
				width: 100%
		.size-33
			@media (max-width: $site-width) 
				width: 49%
				margin-right: 2%
				&:nth-child(3n) 
					margin-right: 0
				&:nth-child(2n) 
					margin-right: 0
	table
		width: 100%
		margin-bottom: 1rem
		th 
			background: #F4F4F4
			font-weight: 700
			padding: 1em
			text-align: center
		td 
			padding: 1em
			text-align: center
			border: 1px solid #F4F4F4
	.list-blocks
		&.type-1
			+list-blocks(3em, 1em, 1em, $site-width, false)
		&.type-2
			+list-blocks(4.5em, 1em, 1em, $site-width, false)
		&.type-3
			+list-blocks(3em, 2.5em, 1em, $site-width, false)
			strong 
				font-size: 18px
		&.type-4
			+list-blocks(4.5em, 1em, 1em, $site-width, false)
			strong 
				font-size: 18px
			p 
				display: block !important
		&.type-5
			+list-blocks(4.5em, 3em, 1em, $site-width, false)
		&.type-6
			+list-blocks(3em, 2.1em, 1em, $site-width, false)
		&.type-7
			+list-blocks(4.5em, 1em, 1em, $site-width, false)
			strong 
				font-size: 18px
			p 
				display: block !important
			.cell 
				margin-bottom: 2rem
		&.type-8
			+list-blocks(4.5em, 4em, 1em, $site-width, false)
			strong 
				font-size: 18px
			p 
				display: block !important
			.cell 
				margin-bottom: 3rem
.page-contacts
	.place
		h1, h2 
			text-align: center
		.subtitle 
			text-align: center
			color: #929292
		.group
			padding-top: 1rem
			padding-bottom: 2rem 
			.cell 
				padding-left: 4em
				position: relative
				+after
					position: absolute
					left: 0 
					top: 0
				&.phone 
					&:after
						@extend .icons-contacts-1
				&.point 
					&:after
						@extend .icons-contacts-2
				&.email 
					&:after
						@extend .icons-contacts-3
				div 
					line-height: 1.333em
					&:nth-child(1) 
						font-size: 25px
						color: #3B3B3B
						font-weight: 500
					&:nth-child(2), &:nth-child(3) 
						font-size: 16px
						color: #9B9B9B
.page-about
	.place
		h1
			text-align: center
		h3, h4
			font-weight: 600
		p 
			text-align: justify
		.preveleg
			.cell 
				position: relative 
				padding-left: 3em
				margin-bottom: 1em
				@media (max-width: 600px) 
					width: 100%
				+after
					position: absolute 
					left: 0 
					top: 0 
					@extend .icons-preveleg-daw
		.objects
			padding-bottom: 1rem
			.cell 
				text-align: center
				img 
					margin-right: .5em
		.team
			padding-bottom: 2rem
			.cell 
				div 
					text-align: center 
					&:nth-child(2) 
						font-size: 16px
						font-weight: 600
					&:nth-child(3) 
						font-size: 14px
						font-weight: 400
		.cat-slider
			border-bottom: 0
.page-price
	.place 
		h1, h2
			text-align: center
		h3, h4
			font-weight: 600
		p 
			text-align: justify
		table 
			max-width: 690px
			margin: 0 auto 
			tr 
				&:nth-child(odd)
					background: #D6E2ED
				&:nth-child(even)
					background: #FFF
				th 
					border: 1px solid #88888A
					color: #121212
					padding: .5em
					text-align: center
				td 
					border: 1px solid #88888A
					color: #121212
					padding: .5em
					vertical-align: top