=font($font, $weight)
	@font-face
		$path: "../fonts/"
		font-family: $font
		src: url($path + $font + ".eot?23123")
		src: local("☺"), url($path + $font + ".eot?23123#iefix") format("embedded-opentype"), url($path + $font + ".woff?23123") format("woff"), url($path + $font + ".ttf?23123") format("truetype")
		font-weight: $weight
		font-style: normal

=absoluteLink
	>a
		width: 100%
		height: 100%
		left: 0
		top: 0
		position: absolute
		border-bottom: 0
=dib
	i, strong, span
		display: inline-block
		vertical-align: middle
=after
	&:after
		content: ''
		display: block
		clear: both
		@content

=before
	&:before
		content: ''
		display: block
		clear: both
		@content

=test
	&:nth-child(even)
		background: rgba(purple, $alpha)
	&:nth-child(odd)
		background: rgba(green, $alpha)

=absoluteReset
	display: block !important
	position: relative !important
	top: auto !important
	left: auto !important
	right: auto !important
	bottom: auto !important

=absoluteCenter
	left: 0
	right: 0
	margin: 0 auto
	position: absolute

=img($height)
	>.img
		background-repeat: no-repeat
		background-size: cover
		width: 100%
		background-position: center
		height: $height
		position: relative
		+absoluteLink

=hoverOpacity($opacity, $time)
	opacity: 1
	+single-transition(opacity, $time)
	&:hover
		opacity: $opacity

=label
	label
		position: relative
		display: block
		margin-bottom: .5em
		span
			padding-left: 1.5em
			font-weight: 400
			color: #000
			display: block
			i 
				margin-right: .333em
		.iradio_minimal-red
			position: absolute !important
			left: 0
			top: 0

=ullireset
	ul 
		padding: 0
		margin: 0 
		li 
			list-style: none
			margin: 0 
			padding: 0

=stars 
	margin-left: 10px
	background: url($dir + "icons/stars-empty.png")
	height: 12px
	width: 74px
	display: inline-block
	vertical-align: middle
	@include after
	>span 
		@extend .icons-stars-full
		float: left
		display: block
		
=grid($size)
	width: ($h / 12) * $size

=grid-fix($size)
	width: ($site-width / 12) * $size


=module-title
	>h3, >h2, >h1, >h4
		text-align: center
		font-size: 30px
		text-transform: uppercase
		font-weight: 700
	>p, >.subtitle
		font-size: 20px 
		line-height: 22px
		text-align: center
		margin-bottom: 1.5em

=cell-reset
	@media (max-width: $site-width) 
		width: $h 
		margin-left: 0

=list-blocks($pl, $lh, $mb, $small, $iTop)
	margin-bottom: 0
	.cell
		position: relative
		padding-left: $pl !important
		line-height: $lh
		margin-bottom: $mb
		@media (max-width: $small) 
			padding-left: 0 !important
		i 
			@if $iTop == true 
				position: relative
				left: inherit
				top: inherit
				display: block 
				margin: 0 auto 1em
			@else
				position: absolute
				top: 0
				left: 0
				@media (max-width: $small) 
					position: relative
					left: inherit
					top: inherit
					display: block 
					margin: 0 auto 1em
		span, >div, p 
			display: inline-block
			vertical-align: middle
			line-height: 1.333em
			@media (max-width: $small) 
				display: block 
				text-align: center
